EMAIL_USER=Neste 
EMAIL_PASS=

EVOLUTION_API_URL=
AUTHENTICATION_API_KEY=
EVOLUTION_INSTANCE=
EVOLUTION_CONTAINER_NAME=
EVOLUTION_API_PORT=

POSTGRES_CONTAINER_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

LOG_LEVEL=
LOG_COLOR=

CONTAINER_REDIS_NAME=
CACHE_REDIS_ENABLED=
CACHE_REDIS_URI=
REDIS_PORT=

DATABASE_PROVIDER=
DATABASE_SAVE_DATA_INSTANCE=
DATABASE_SAVE_DATA_NEW_MESSAGE=
DATABASE_ENABLED=
DATABASE_CONNECTION_URI=

SMTP_SERVER=
SMTP_PORT=
IMAP_SERVER=
RESUME_PATH=
CSV_PATH=
DB_PATH=
LOGS_DIR=
MIN_CONFIDENCE=
DRY_RUN=